<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
  <h:head>
    <title>OOKA RestServiceDemo</title>
  </h:head>
  <h:body>
    
    <h1>OOKA RestServiceDemo :: index</h1>
    <hr/>
    <h2><a href="JsonDemoTwitterServlet">JsonDemoTwitterServlet</a></h2>    
    <h2><a href="RestDemoCourseServlet">RestDemoCourseServlet</a></h2>
    <h2><a href="faces/listCourses.xhtml">JSF-DemoCourseService</a></h2>
    <hr/><br/>

  </h:body>
</html>

