<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"      
>
  
  <h:head>
    <h:outputStylesheet library="css" name="style.css"/>
    <title>List Courses</title>
  </h:head>
  
  
  <h:body>
    
    <h1>OOKA RestServiceDemo :: List Courses</h1>
    
    <hr/>
    Service: #{courseDemoService}
    <br />
    Title: #{courseDemoService.title}
    <br />
    Hello: #{courseDemoService.hello}
    <br/><hr/>
    <!--
    AllCourses as JSON:<br /> #{courseDemoService.allCourses_JSON}
    <br />
    -->
    
    <br/><hr/><br />
    
    <h:dataTable value="#{courseDemoService.allCourses}" var="course"
                 styleClass="common-table"
                 headerClass="common-table-header"
                 rowClasses="common-table-odd-row,common-table-even-row"      
    >        
    
      <h:column>
        <f:facet name="header">ID</f:facet>
        #{course.id}
      </h:column>        
      
      <h:column>
        <f:facet name="header">Course</f:facet>
        <h:link value="#{course.name}" outcome="showCourseDetails">
          <f:param name="id" value="#{course.id}" />
        </h:link>          
      </h:column>            
      
      <h:column>
        <f:facet name="header">Credits</f:facet>
        #{course.credits}
      </h:column>         

      <h:column>
        <f:facet name="header">Participants</f:facet>
        #{course.participants}
      </h:column>             

      <h:column>
        <f:facet name="header">Begins</f:facet>
        <h:outputText value="#{course.startdate}" >
          <f:convertDateTime pattern="dd.MM.yyyy" />
        </h:outputText>        
        &nbsp;at&nbsp;
        <h:outputText value="#{course.starttime}" >
          <f:convertDateTime pattern="HH:mm" />
        </h:outputText>                
        h
      </h:column>               
      
    </h:dataTable>      
    
  </h:body>
</html>

