<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"      
>
  
  <h:head>
    <h:outputStylesheet library="css" name="style.css"/>
    <title>CourseDetails</title>
  </h:head>
  <h:body>
    
    <h1>OOKA RestServiceDemo :: CourseDetails</h1>

    <hr/>

    Course '#{param.id}' as JSON:<br /> #{courseDemoService.getCourse_JSON(param.id)}
    <hr/>
    
    <h:dataTable value="#{courseDemoService.getCourse(param.id)}" var="course"
                 styleClass="common-table"
                 headerClass="common-table-header"
                 rowClasses="common-table-odd-row,common-table-even-row"      
    >        
    
      <h:column>
        <f:facet name="header">ID</f:facet>
        #{course.id}
      </h:column>       
      
      <h:column>
        <f:facet name="header">Course</f:facet>
        #{course.name}
      </h:column>                  
      
      <!--
      <h:column>
        <f:facet name="header">Lecturer</f:facet>
        #{course.lecturer_id}
      </h:column>                   
      -->
      
      <!--
      <h:column>
        <f:facet name="header">Lecturer</f:facet>
        #{courseDemoService.getCourseLecturer(course.lecturer_id)}
      </h:column>                         
      -->
      
      <ui:param name="lecturer" value="#{courseDemoService.getCourseLecturer(course.lecturer_id)}" />
      
      <h:column>
        <f:facet name="header">Lecturer</f:facet>
        #{lecturer.degree} #{lecturer.firstname} #{lecturer.lastname}
      </h:column>                         
      
      
      <h:column>
        <f:facet name="header">Credits</f:facet>
        #{course.credits}
      </h:column>         

      <h:column>
        <f:facet name="header">Participants</f:facet>
        #{course.participants}
      </h:column>             
      
      <h:column>
        <f:facet name="header">Period</f:facet>
        <h:outputText value="#{course.startdate}" >
          <f:convertDateTime pattern="dd.MM.yyyy" />
        </h:outputText>    
        at
        <h:outputText value="#{course.starttime}" >
          <f:convertDateTime pattern="HH:mm" />
        </h:outputText>                
        h to
        <h:outputText value="#{course.enddate}" >
          <f:convertDateTime pattern="dd.MM.yyyy" />
        </h:outputText>        
        &nbsp;at&nbsp;
        <h:outputText value="#{course.endtime}" >
          <f:convertDateTime pattern="'at' HH:mm h" />
        </h:outputText>
        h
      </h:column>                     
            
      <h:column>
        <f:facet name="header">Rating</f:facet>
        #{course.rate}
      </h:column>             
      
      <h:column>
        <f:facet name="header">Exam</f:facet>
        <h:outputText value="#{course.exam}" >
          <f:convertDateTime pattern="dd.MM.yyyy 'at' HH:mm 'h'" />
        </h:outputText>                
      </h:column>    
      
      <h:column>
        <f:facet name="header">Description</f:facet>
        #{course.description}
      </h:column>             
      
      <h:column>
        <f:facet name="header">Flag</f:facet>
        #{course.flag}
      </h:column>                   
      
    </h:dataTable>      
        
  </h:body>
</html>

